.tela {
  position: absolute;
  width: 100%;
  height: 100%;

  background: #000;

  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  animation: animacao 1s linear infinite;
}